body {
    background: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the body takes up the full viewport height */
    margin: 0; /* Remove default margin */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center;
    height: 416px;
    width: 412px;
    background: #232A34;
    border-radius: 30px;
    margin: 0; /* Remove any default margin */
}
.illustration {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    text-align: center;
    height:108px;
    width:162px;
    margin-bottom:32px;
    margin-top:40px;
}
.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 32px;
    width: 193px;
    background: #262E38;
    color: #fc7614;
    font-family: "overpass", sans-serif;
    border-radius: 22.5px;
    margin:0;
}
.title{
    display:flex;
    justify-content:center;
    align-items: center;
    font-weight:600;
    font-size:2.5rem;
    color:#ffffff;
    font-family: "overpass", sans-serif;
    margin-top:15px;
    margin-bottom:17px;
}
.tnxs-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #969fad;
    font-size: 17px;
    text-align: center;
    font-family: "overpass", sans-serif;
    margin-bottom:10px
}